<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ChristianFund</title>
  <meta name="description" content="Christian Fund">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link href="css/bootstrap-responsive.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<body>

<div id="main">
    <div class="navbar navbar-inverse">
  	  	<ul class="nav navbar-nav">
	  	  	<li> <h4>The Christian Fund </h4></li>
		    <li class="active"><a href="" id="homeButton">Home</a></li>
		    <li><a href="#projects" id="latestProjects">Latest Projects</a></li>
		    <li><a href="#explore">Explore</a></li>
		    <li><a href="#startProject" id="startProject">Start a Project</a></li>
	    </ul>
		    <a class="btn pull-right" id="signInButton" >Sign In</a>
		    <a class="btn pull-right" id="signOutButton">Sign Out</a>
		    <p class="navbar-text pull-right" id="loggedText"></p>
	         	<div class="signInContainer">
			   		<div id="signInModal" class="modal hide fade in" style="display:none; "> 	
			        <div class="modal-header">
			        	<a href="#" class="close" data-dismiss="modal">×</a>
			        	<h4 class="modal-title">Sign In</h4>
			        </div>
			        <div class="modal-body">
			          <p> Welcome back!</p>
			          Email:<input class="username" id="username" name="Username" type="email"><br>
			          Password:<input class="password" id="password" name="Password" type="password">
			        </div>
			        <div id="signInAlert"></div>
			        <div class="modal-footer">
			        	<a href="#" id="forgotPassword">Forgot your Password</a>
			          <a href="#" class="btn" data-dismiss="modal">Cancel</a>
			          <a href="#" id="signInSubmitButton" class="btn btn-success">Sign In</a>
			        </div>
		        	</div>
		        
		        <div id="signUpModal" class="modal hide fade in" style="display:none; "> 	
			        <div class="modal-header">
			        	<a href="#" class="close" data-dismiss="modal">×</a>
			        	<h4 class="modal-title">Sign Up</h4>
			        </div>
			        <div class="modal-body">
			          <p> Fill in your information here and start making a difference.</p>
			          <form>
			          	Full Name: <input id="signupfullname" name="Full Name" type="text"><br>
			          	Email: <input class="username" id="signupusername" name="Username" type="email"><br>
			          	Age: <input type="number" min="16" max="99" id="signupAge"><br>
			          	Password: <input class="password" id="signuppassword" name="Password" type="password">
			          </form>
			          <div id="signUpAlert"></div>
			        </div>
			        <div class="modal-footer">
			          <a href="#" class="btn" id="cancelsignupbuttton" data-dismiss="modal">Cancel</a>
			          <a href="#" class="btn btn-success" id="signupbutton">Sign Up</a>
			        </div>
		        </div>
		       	<div id="forgotPasswordModal" class="modal hide fade in" style="display:none; "> 	
			        <div class="modal-header">
			        	<a href="#" class="close" data-dismiss="modal">×</a>
			        	<h4 class="modal-title">Forgot your Password?</h4>
			        </div>
			        <div class="modal-body">
			          <p> Submit your email address and we will send you and email to reset it.</p>
			          	Email: <input class="username" id="resetPasswordEmail" name="email" type="email"><br>
			          <div id="passwordResetAlert"></div>
			        </div>
			        <div class="modal-footer">
			          <a href="#" class="btn" id="cancelResetPasswordButtton" data-dismiss="modal">Cancel</a>
			          <a href="#" class="btn btn-success" id="sendResetPasswordButton">Send Reset</a>
			        </div>
		        </div>
	        </div> <!-- signInContainer -->
	</div> <!-- navbar -->

	<div id="mainapp" style="padding-top: 70px;">	
    	<div class="upperSection">
    		<div id="carousel" class="carousel slide" data-pause="hover" data-interval="4000">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				</ol>
			    <div class="carousel-inner">
					<div class="item active">    
						<img src="./test.jpg" alt="" class="img-responsive">				
						<div class="carousel-caption">
					    	<h3>Title One</h3>
					       	<p>Short Description One</p>
						</div>
					</div>
					<div class="item">    
						<img src="./test.jpg" alt="" class="img-responsive">
						<div class="carousel-caption">
					    	<h3>Title Two</h3>
					       	<p>Short Description Two</p>
						</div>
					</div>
					<div class="item">    
						<img src="./test.jpg" alt="" class="img-responsive">
						<div class="carousel-caption">
					    	<h3>Title Three</h3>
					       	<p>Short Description Three</p>
						</div>
					</div>
				</div>
			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel" data-slide="prev">
			    <span class="icon-prev"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel" data-slide="next">
			    <span class="icon-next"></span>
			  </a>
	    	</div>
		</div> <!-- Upper Section -->
	    <div class="lowerSection" style="padding-top: 70px;"></div>
	    <div class="localSection" style="padding-top: 50px;">
	    	<div id="localCarouselDiv">
	    	<h3 id="currentCityCarouselCity">San Francisco</h3><a id="changeCity">Change City</a>
			<div class="carousel slide" id="localCarousel">
	        	<div class="carousel-inner" id="localCarouselInner">
	        	</div>
	            <a data-slide="prev" href="#localCarousel" class="left carousel-control">‹</a>
	            <a data-slide="next" href="#localCarousel" class="right carousel-control">›</a>
  			</div>
  			</div>
	    </div>
	    
	</div> <!-- Main App -->
</div> <!-- Main -->
      
    <div id="footercredits">
      Learn how we built it in the <a href='https://parse.com/tutorials/todo-app-with-javascript'>tutorial</a>.
   </div>

   <script type="text/template" id="profile-template">
   		
   		<div class="ui-grid-a">
   			<div class="ui-block-a">
   				<img src="<%= profilePhotoUrl %>" alt="<%= fullName %>" class="img-responsive" id="profilePageImage" width="90%">
   			</div>
   			<div class="ui-block-b">
   				<h2><%= fullName %></h2>
   				<h4>Username:  <%= username %></h4><br>
   				<button type="button" class="btn btn-default" id="password" data-placement="right">Password: ********  </button><br>
   				<h4 id="bioUpdate">Personal Bio: <h6 id='personalBio'><%= personalBio %></h6></h4>
   				
   				<div id="bioInputItems" style="display:none;">
   					<textarea id="bioText" width="200px"><%= personalBio %></textarea>
   					<button class="btn btn-default" id="bioSubmitButton">Submit Bio</button>
   				</div>
   				<h4 id="currentLocation"> Current Location: </h4><h5 id="currentCity"><%= currentCity %></h5><br>
   				<div id='currLoc' style="display:none;">
   					<input id="locCity" type="text">
   					<button class="btn btn-default" id="locSubmitButton">Submit</button>
   				</div>
   				<h4 id="affiliations">Organizational Affilitations:<br><br> </h4>
   				<div class="input-group">
			      <input list="orgs" type='text' class="form-control" id="additionalAffiliations">
					<datalist id="orgs">
					  <option value="Coronado Presbyterian Church">
					  <option value="Menlo Presbyterian Church">
					  <option value="Coronado Episcopal Church">
					</datalist>
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button" id="addAffiliationsButton">Add</button>
			      </span>
			    </div><!-- /input-group -->

   			</div>
   		</div>
   		<div id="changeProfilePhotoModal" class="modal hide fade in" style="display:none;">
   			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h4 class="modal-title">Change Profile Photo</h4>
			</div>
			<div class="modal-body">
				Upload Project Photo: <input type='file' id='profilePhotoFileUpload'>
				<div id="profilePhotoUploadAlert"></div>
			    </div>
			    <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" id="submitPhotoButton">Submit Photo</button>
			    </div>
   		</div>

   		<div id="changePasswordModal" class="modal hide fade in" style="display:none;">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title">Change Password</h4>
			      </div>
			      <div class="modal-body">
			        <form>
				          	Current Password: <input id="currentPassword" name="currentPassword" type="password"> <br>
				          	New Password: <input class="password" id="newPassword" name="newPassword" type="password"><br>
				          	Re-enter Password: <input class="password" id="newPassword2" name="newPassword2" type="password">
				    </form>
				    <div id="signUpAlert"></div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" id="changePasswordSubmit">Change Password</button>
			      </div>
   		</div>
   </script>

    <script type="text/template" id="featured-items-template">	
    	<div class="item">    
			<img src="<%= imgUrl %>" alt="" class="img-responsive">
			<div class="container">
			<div class="carousel-caption">
		    	<h3><%= title %></h3>
		       	<p><%= shortDescription %></p>
			</div>
			</div>
		</div>
    </script>


	<script type="text/template" id="featured-list-template">
    	 <div id="carousel" class="carousel slide" data-pause="hover" data-interval="4000">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				</ol>
			    <div class="carousel-inner">
					<div class="item active">    
						<img src="./test.jpg" alt="" class="img-responsive">
						<div class="container">
						<div class="carousel-caption">
					    	<h3>Title One</h3>
					       	<p>Short Description One</p>
						</div>
					</div>
					<div class="item">    
						<img src="./test.jpg" alt="" class="img-responsive">
						<div class="container">
						<div class="carousel-caption">
					    	<h3>Title Two</h3>
					       	<p>Short Description Two</p>
						</div>
					</div>
					<div class="item">    
						<img src="./test.jpg" alt="" class="img-responsive">
						<div class="container">
						<div class="carousel-caption">
					    	<h3>Title Three</h3>
					       	<p>Short Description Three</p>
						</div>
					</div>
				</div>
			  </div>
			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel" data-slide="prev">
			    <span class="icon-prev"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel" data-slide="next">
			    <span class="icon-next"></span>
			  </a>
	    	</div>
	 </script>
   
	  <script type="text/template" id="create-new-item">
			      	<h2>Create a new Item</h2>
			      	<div class="accordion" id="accordion1">
			      		<div class="accordion-group">
			      			<div class="accordion-heading">
						    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Basic Project Information</a>
						    </div>
						    <div id="collapseOne" class="accordion-body collapse in">
						    	<div class="accordion-inner">
							        <form class="form-horizontal" id="textForm">
							        	<div class="form-group" style="padding:10px 0px 10px 0px">
								          	<div class="error" style="display:none"></div>
								          	<input class="input-block-level" type="text" id="newitem-title" placeholder="Title" /><br>
							        	</div>
							          	<div class="form-group" style="padding:10px 0px 10px 0px">
								          	<input class="input-block-level" type="text" id="newitem-shortDescription" placeholder="Short Description"/>
								          	
							          	</div>
							          	<div class="form-group" style="padding:10px 0px 10px 0px">
							          		<textarea class="input-block-level" id="newitem-description" rows="16">Fill in this area with a detailed description of the project.</textarea><br>
							          	</div>
							          	<div class="form-group" style="padding:10px 0px 10px 0px">
							          		<input class="input-block-level" type="text" id="newitem-sponsor" placeholder="Sponsors?" />
							          	</div> 
							         	<button class="btn btn-default" id="textFormSubmit">Submit</button><br>
							         </form>
							         <div id="postAlert"></div>
						    	</div>
						    </div>
						 </div>
					 	<div class="accordion-group">
					    	<div class="accordion-heading">
					      		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Project Media</a>
					    	</div>
					    	<div id="collapseTwo" class="accordion-body collapse">
					      		<div class="accordion-inner">
									
										Upload Project Photo: <input type='file' id='projectPhotoFileUpload'>
										<p class="help-block">Example block-level help text here.</p>
										<button class="btn btn-default" id="profilePhotoUploadButton">Submit</button>
									</form>
					      		</div>
					    	</div>
					  	</div>
					</div>
	</script>

	<script type="text/template" id="item-detail-view">
	   	<div class="ui-grid-a">
			<div class="ui-block-a">
		  	   <img src='<%= imgUrl %>' alt="" class="img-responsive" width="90%">
			   <div id="itemdetailalertdiv"></div>
		  	</div>
		  	<div class="ui-block-b">
		  		<h2><%= title %></h2>
		  		<h3>By <%= host %> in <%= city %></h3>
			   	<h4><%= shortDescription %></h4>
			   	<p><%= description %></p> 
		  		<p> Test column </p>
		  		<div class="progress">
					<div class="bar" style="width: <%= percentFunded %>%;">
					    <span class="sr-only"><%= percentFunded %>% Funded</span>
					  </div>
				</div>
				<button class="btn btn-default">Donate</button>
		  	</div>
		</div>
	</script>


<!--<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>-->
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/parse.min.js"></script>
<script src="js/app.js"></script>
<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>



    <script type="text/template" id="item-template">
	   	<div class="view" style="border=2px;padding:0px 10px 0px 10px;" >
	   		<div class="thumbnail">
	   			<a href="#items/<%= objectId %>">
		    		<img src="<%= imgUrl %>" alt="" class="img-responsive">
		    	</a>
		      	<div class="caption">
		        	<h3 style="width:90%;text-align:center"><%= title %></h3>
		        	<h4 style="width:90%;text-align:center"><%= shortDescription %></h4>
					<p style="width:190px"><%= description %></p>
					<div class="progress">
					<div class="bar" style="width: <%= percentFunded %>%;">
					    <span class="sr-only"><%= percentFunded %>% Funded</span>
					  </div>
				</div>
		        	<p><a href="#items/<%= objectId %>" class="btn btn-primary">View Details</a></p>
		   	   </div>
		   	</div>
		</div>
	</script>


</body>
</html>
